/**
 * Folha de estilos das páginas acessíveis
 * @author Luiz Joaquim Aderaldo Amichi <luizamichi@luizamichi.com.br>
 * @copyright 2021 Luiz Joaquim Aderaldo Amichi
 */

/* CABEÇALHO */
header {
	top: 0;
	position: sticky;
	background: #007358;
	padding: 1px;
	z-index: 5;
}

header img, img::selection {
	filter: invert(1);
	margin: 0 10px;
}

header .submenu:focus {
	background: #007358;
}

/* BANNER */
#slideshow img {
	width: 100%;
	height: 30.7vh;
	object-fit: contain;
}

/* CONTEÚDO */
#content img.preview {
	object-fit: cover;
	object-position: top;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 18vh;
}

#content .icon:hover {
	filter: invert(0.1) brightness(3);
}

#ancora-input {
	display: none;
	margin: 0;
	width: 100%;
	text-align: center;
	background-color: #ffffff;
	padding: 6px 0 1px 0;
	border: none;
}

ul.financa {
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
	list-style-type: none;
	text-align: left;
}

.financa hr {
	margin: 10px 5px;
}

img.edital {
	object-fit: contain;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 500px;
}

img.evento {
	object-fit: contain;
	object-position: top;
	width: 100%;
	height: auto;
	max-width: 15vw;
	max-height: 100%;
	flex: 50%;
}

img.noticia {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 300px;
}

p.descricao {
	line-clamp: 3;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

/* RODAPÉ */
footer {
	background: #007358 !important;
	color: #fafafa;
	padding: 20px 0 1px 0;
	text-align: center;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

footer a {
	color: #fafafa;
	text-decoration: none !important;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

footer a:hover {
	color: #b2b2b2;
}

footer h5 {
	padding-left: 10px;
	border-left: 3px solid #eeeeee;
	padding-bottom: 6px;
	margin-bottom: 20px;
	color: #ffffff;
	text-transform: uppercase;
}

footer img, img::selection {
	filter: invert(1);
}

footer li {
	color: #fafafa;
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

footer ol {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
	list-style-type: none;
	padding: 3px 0;
	text-align: left;
}

footer ol img {
	padding-right: 3px;
}

footer .luiz-amichi:hover {
	transform: scale(0.9);
}

footer .azul, footer .verde, footer .vermelho {
	width: 50px;
	padding: 5px;
}

/* MÍDIAS SOCIAIS */
.midias-sociais .branco:hover {
	filter: invert(0.3) brightness(3);
}

.midias-sociais .azul:hover {
	filter: invert(20%) sepia(50%) saturate(3000%) hue-rotate(200deg) brightness(150%) contrast(95%);
}

.midias-sociais .azul-claro:hover {
	filter: invert(20%) sepia(50%) saturate(3000%) hue-rotate(180deg) brightness(150%) contrast(95%);
}

.midias-sociais .verde:hover {
	filter: invert(30%) sepia(50%) saturate(3000%) hue-rotate(435deg) brightness(150%) contrast(95%);
}

.midias-sociais .vermelho:hover {
	filter: invert(30%) sepia(50%) saturate(3000%) hue-rotate(700deg) brightness(100%) contrast(95%);
}

/* GERAIS */
.bg-green {
	background: #007b5e;
}

.bg-green:hover {
	background: #054b3a;
}

.card:hover {
	background: #e9e9e9;
}

.nao-selecionavel {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.text-green {
	color: #007b5e;
}

.text-green:hover {
	color: #054b3a;
}

.badge-green {
	background-color: #007b5e;
	color: #fff;
}

a.badge-green:focus, a.badge-green:hover {
	background-color: #054b3a;
	color: #fff;
}

a.badge-green.focus, a.badge-green:focus {
	box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5);
	outline: 0;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 500px) {
	ul.financa {
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
		display: contents;
	}

	#slideshow img {
		height: 18vh;
	}
}

@media screen and (max-width: 767px) {
	header {
		width: 100%;
		height: auto;
		position: relative;
	}

	footer h5 {
		padding-left: 0;
		border-left: transparent;
		padding-bottom: 0px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 800px) {
	ul.financa {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
	}
}