{% extends 'sgc/base.html' %}

{% set page = 'diretorio' %}

{% block title %}{{ super() }} - Diretório{% endblock %}

{% block content %}
	<h1 class="my-3">
		<i class="fas fa-folder-open fa-lg"></i>
		Diretório
	</h1>

	{% if tuplas %}
	<!-- Lista de Registros -->
	<ul class="list-group">
		{% for tupla in tuplas %}
		<li class="list-group-item">
			<span style="padding-left: {{ tupla.espaco }}px"></span>
			<i class="fas {{ 'fa-file' if tupla.tipo == 'arquivo' else 'fa-folder' }}"></i>
			{{ tupla.nome }}
		</li>
		{% endfor %}
	</ul>
	<!--/ Lista de Registros -->
	{% endif %}

{% endblock %}