# REDIRECIONAR EM CASO DE ERROS
ErrorDocument 400 https://%{HTTP_HOST}/erro.html
ErrorDocument 403 https://%{HTTP_HOST}/erro.html
ErrorDocument 404 https://%{HTTP_HOST}/erro.html
ErrorDocument 500 https://%{HTTP_HOST}/erro.html
ErrorDocument 501 https://%{HTTP_HOST}/erro.html
ErrorDocument 502 https://%{HTTP_HOST}/erro.html
ErrorDocument 503 https://%{HTTP_HOST}/erro.html
ErrorDocument 504 https://%{HTTP_HOST}/erro.html
ErrorDocument 505 https://%{HTTP_HOST}/erro.html