{% extends 'base.html' %}

{% set page = 'convenios' %}

{% block title %}{{ super() }} - Convênios{% endblock %}

{% block content %}
	<div class="subcabecalho">
		<h1>Convênios</h1>
	</div>
	<div id="convenios">
	{% if tuplas %}
		<div class="card-columns">
		{% for tupla in tuplas %}
			<div class="card">
				<img alt="Convênio {{ tupla.id }}" class="card-img-top" src="{{ url_for('static', filename=tupla.imagem.caminho) }}">
				<div class="card-body">
					<h5 class="card-title">{{ tupla.titulo }}</h5>
					<p class="card-text">{{ tupla.descricao | replace('\n', '<br>') | safe }}</p>
					<i class="fas fa-map-marker-alt fa-fw"></i> {{ tupla.cidade }}
					{% if tupla.telefone %}
					<br>
					<i class="fas fa-phone fa-fw"></i> {{ tupla.telefone }}
					{% endif %}
					{% if tupla.celular %}
					<br>
					<i class="fas fa-mobile-alt fa-fw"></i> {{ tupla.celular }}
					{% endif %}
					{% if tupla.website or tupla.email or tupla.documento %}
					<br>
					{% endif %}
					{% if tupla.website %}
					<a href="{{ tupla.website }}" target="_blank" title="Website"><i class="fas fa-globe-americas fa-fw"></i></a>
					{% endif %}
					{% if tupla.email %}
					<a href="mailto:{{ tupla.email }}" target="_blank" title="E-mail"><i class="far fa-envelope fa-fw"></i></a>
					{% endif %}
					{% if tupla.documento %}
					<a href="{{ url_for('static', filename=tupla.documento.caminho) }}" target="_blank" title="Documento"><i class="far fa-file-alt fa-fw"></i></a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
		</div>
	{% else %}
		<h5 class="text-center">AINDA NÃO TEMOS CONTEÚDO DISPONÍVEL :(</h5>
	{% endif %}
	</div>
	{% if paginas > 1 %}
		{% include 'navegador.html' %}
	{% endif %}

{% endblock %}