<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title>Sinteemar - Erro 404</title>

	<meta charset="utf-8">
	<meta name="author" content="Luiz Joaquim Aderaldo Amichi">
	<meta name="description" content="Página solicitada não encontrada">
	<meta name="keywords" content="404, erro">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Ícone do cabeçalho do navegador -->
	<link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">

	<!-- Folhas de estilo customizada para o template -->
	<link href="{{ url_for('static', filename='css/error-style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="cloud x1"></div>
	<div class="cloud x2"></div>
	<div class="cloud x3"></div>
	<div class="cloud x4"></div>
	<div class="cloud x5"></div>
	<div class="cloud x6"></div>

	<div class="error">
		<div class="_404">404</div>
		<hr>
		<div class="title">PAGE NOT FOUND</div>
		<div class="subtitle">DESCULPE, OCORREU UM ERRO. A PÁGINA SOLICIDATA "{{ pagina|upper }}" NÃO FOI ENCONTRADA.</div>
		<a class="btn" href="{{ url_for('website.index') }}">VOLTAR AO INÍCIO</a>
	</div>
</body>

</html>