{% extends 'base.html' %}

{% set page = 'estatuto' %}

{% block title %}{{ super() }} - Estatuto{% endblock %}

{% block content %}
	<div class="subcabecalho">
		<h1>Estatuto</h1>
	</div>
	{% if tupla %}
	<div id="estatuto">
		<div class="text-center">
			<a href="{{ url_for('static', filename=tupla.documento.caminho) }}">
				<i class="far fa-file-pdf"></i>
			</a>
			<p class="lead mt-3">Clique no ícone para visualizar o documento.</p>
		</div>
	</div>
	{% elif not tupla %}
	<h5 class="text-center">AINDA NÃO TEMOS CONTEÚDO DISPONÍVEL :(</h5>
	{% endif %}

{% endblock %}