{% extends 'base.html' %}

{% set page = 'juridicos' %}

{% block title %}{{ super() }} - Jurídicos{% endblock %}

{% block content %}
	<div class="subcabecalho">
		<h1>Jurídicos</h1>
	</div>
	<div id="juridicos">
	{% if tuplas %}
		<ul class="list-group list-group-flush">
			{% for tupla in tuplas %}
			<li class="list-group-item">
				<a href="{{ url_for('static', filename=tupla.documento.caminho) }}">
					<h5>{{ tupla.titulo }}</h5>
				</a>
				{% if tupla.descricao %}
				<small>{{ tupla.descricao }}</small>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	{% else %}
		<h5 class="text-center">AINDA NÃO TEMOS CONTEÚDO DISPONÍVEL :(</h5>
	{% endif %}
	</div>
	{% if paginas > 1 %}
		{% include 'navegador.html' %}
	{% endif %}

{% endblock %}