<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title>Sinteemar - Manutenção</title>

	<meta charset="utf-8">
	<meta name="author" content="Luiz Joaquim Aderaldo Amichi">
	<meta name="description" content="Página em manutenção">
	<meta name="keywords" content="Indisponível, manutenção">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Ícone do cabeçalho do navegador -->
	<link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">

	<!-- Bootstrap CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">

	<!-- Folhas de estilo customizada para o template -->
	<link href="{{ url_for('static', filename='css/maintenance-style.css') }}" rel="stylesheet" type="text/css">
</head>

<body class="text-center">
	<div class="row">
		<div class="col-sm">
			<h1 class="font-weight-normal m-3">:( Oops!</h1>
			<h2 class="font-weight-normal m-3">Temporariamente em Manutenção</h2>
			<h1 class="font-weight-normal m-3">Voltaremos em breve!</h1>
			<p class="m-3"> Desculpe pela inconveniência, mas estamos realizando algumas manutenções no momento. Em breve voltaremos a estar online!</p>
			<p class="m-3">— Sinteemar</p>
		</div>
		<div class="col-sm">
			<img alt="Manutenção" class="m-3" height="350" src="{{ url_for('static', filename='img/manutencao.svg') }}" width="350">
		</div>
	</div>
</body>

</html>