<div class="text-center" id="midias-sociais">
	<small class="mx-3">
		<time datetime="{{ tupla.data.strftime('%Y-%m-%dT%H:%M:%S') }}">{{ tupla.data.strftime('%d/%m/%Y %Hh%M') }}</time>
		-
		<strong>Por {{ tupla.usuario.nome }}</strong>
	</small>
	<a href="{{ 'https://www.facebook.com/sharer/sharer.php?u=https://sinteemar.com.br/' + ('editais' if tupla.__class__.__name__ == 'Edital' else 'eventos' if tupla.__class__.__name__ == 'Evento' else 'noticias') + '?id=' + tupla.id|string }}" target="_blank" title="Compartilhar no Facebook"><i class="fab fa-facebook-square fa-lg" aria-hidden="true"></i></a>
	<a href="{{ 'https://twitter.com/home?status=https://sinteemar.com.br/' + ('editais' if tupla.__class__.__name__ == 'Edital' else 'eventos' if tupla.__class__.__name__ == 'Evento' else 'noticias') + '?id=' + tupla.id|string }}" target="_blank" title="Compartilhar no Twitter"><i class="fab fa-twitter-square fa-lg" aria-hidden="true"></i></a>
	<a href="{{ 'https://api.whatsapp.com/send?text=https://sinteemar.com.br/' + ('editais' if tupla.__class__.__name__ == 'Edital' else 'eventos' if tupla.__class__.__name__ == 'Evento' else 'noticias') + '?id=' + tupla.id|string }}" target="_blank" title="Compartilhar no WhatsApp"><i class="fab fa-whatsapp-square fa-lg" aria-hidden="true"></i></a>
</div>
<hr>