<nav aria-label="Navegador">
	<ul class="justify-content-center pagination">
		<li class="page-item {{ 'disabled' if pagina == 1 else 'text-green' }}">
			<a class="page-link" href="{{ url_for('website.' + page, p=pagina-1) }}" aria-label="Anterior">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Anterior</span>
			</a>
		</li>
		{% for p in range(1, paginas + 1) %}
		<li class="page-item {{ 'disabled' if p == pagina else '' }}"><a class="page-link {{ 'active text-white' if p == pagina else 'text-dark' }}" href="{{ url_for('website.' + page, p=p) }}">{{ p }}</a></li>
		{% endfor %}
		<li class="page-item {{ 'disabled' if pagina == paginas else 'text-green' }}">
			<a class="page-link" href="{{ url_for('website.' + page, p=pagina+1) }}" aria-label="Próximo">
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">Próximo</span>
			</a>
		</li>
	</ul>
</nav>