{% extends 'base.html' %}

{% set page = 'noticias' %}

{% block title %}{{ super() }} - Notícias{% endblock %}

{% block content %}
	<div class="subcabecalho">
		<h1>Notícias</h1>
	</div>
	<div id="noticias">
	{% if tuplas %}
		<!-- Grade de Notícias -->
		<div class="card-deck">
		{% for tupla in tuplas %}
			{% if (loop.index - 1) % colunas == 0 and loop.index > 1 %}
		</div>
		<br>
		<div class="card-deck">
			{% endif %}
			<div class="card" data-link="{{ url_for('website.noticias', id=tupla.id) }}">
				<img alt="Notícia {{ tupla.id }}" class="card-img-top" src="{{ url_for('static', filename=tupla.imagem.caminho if tupla.imagem else 'uploads/noticia.jpg') }}">
				<div class="card-body">
					<h5 class="card-title">{{ tupla.titulo }}</h5>
					<p class="card-text">{{ tupla.texto|striptags }}</p>
				</div>
				<div class="card-footer">
					<small class="text-muted"><time datetime="{{ tupla.data.strftime('%Y-%m-%dT%H:%M:%S') }}">{{ tupla.data.strftime('%d/%m/%Y') }}</time></small>
				</div>
			</div>
		{% endfor %}
		</div>
		<!--/ Grade de Notícias -->
	{% elif not tupla %}
		<h5 class="text-center">AINDA NÃO TEMOS CONTEÚDO DISPONÍVEL :(</h5>
	{% endif %}

	{% if tupla %}
		<!-- Notícia -->
		<div class="text-center">
			<h1>{{ tupla.titulo }}</h1>
			{% if tupla.subtitulo %}
			<p class="lead text-muted">{{ tupla.subtitulo }}</p>
			{% endif %}
			{% if tupla.imagem %}
			<img alt="Notícia {{ tupla.id }}" class="img-fluid outdoor rounded" src="{{ url_for('static', filename=tupla.imagem.caminho) }}">
			{% endif %}
		</div>
		{% include 'midias-sociais.html' %}
		<div class="text-justify">{{ tupla.texto|safe }}</div>
		<!--/ Notícia -->
	{% endif %}
	</div>

	{% if paginas and paginas > 1 %}
		{% include 'navegador.html' %}
	{% endif %}

{% endblock %}