{% extends 'base.html' %}

{% set page = 'videos' %}

{% block title %}{{ super() }} - Vídeos{% endblock %}

{% block content %}
	<div class="subcabecalho">
		<h1>Vídeos</h1>
	</div>
	<div id="videos">
	{% if tuplas %}
		{% for tupla in tuplas %}
		<div class="card" data-link="{{ tupla.url }}">
			<div class="card-body">
				<h5 class="card-title">{{ tupla.titulo }}</h5>
			</div>
		</div>
		<br>
		{% endfor %}
	{% else %}
		<h5 class="text-center">AINDA NÃO TEMOS CONTEÚDO DISPONÍVEL :(</h5>
	{% endif %}
	</div>
	{% if paginas > 1 %}
		{% include 'navegador.html' %}
	{% endif %}

{% endblock %}