{% extends 'sgc/base.html' %}

{% set page = 'estatuto' %}

{% block title %}{{ super() }} - Estatuto{% endblock %}

{% block content %}
	<h1 class="my-3">
		<i class="fas fa-book fa-lg"></i>
		Estatuto
	</h1>

	{% if tupla %}
	<!-- Visualização de Registro -->
	<h3>Documento</h3>
	<p><a href="{{ url_for('static', filename=tupla.documento.caminho) }}" target="_blank">{{ tupla.documento.arquivo }}</a></p>
	<h3>Usuário</h3>
	<p>{{ tupla.usuario.nome }}</p>
	<h3>Data - Hora</h3>
	<p>{{ tupla.data.strftime('%d/%m/%Y - %H:%M:%S') }}</p>
	<!--/ Visualização de Registro -->
	{% endif %}

	<div class="row">
		<div class="col-lg-1 col-md-2">
			<a class="btn btn-block btn-dark mb-2" href="{{ url_for('sgc.alterar_estatuto') }}">Alterar</a>
		</div>
	</div>

{% endblock %}