{% extends 'sgc/base.html' %}

{% set page = 'acessos' %}

{% block title %}{{ super() }} - Acessos{% endblock %}

{% block content %}
	<h1 class="my-3">
		<i class="far fa-eye fa-lg"></i>
		Acessos
	</h1>

	<!-- Visualização de Registro -->
	<h3>Diário</h3>
	<p>{{ diario }}</p>
	<h3>Mensal</h3>
	<p>{{ mensal }}</p>
	<h3>Anual</h3>
	<p>{{ anual }}</p>
{% if tuplas %}
	<h3>Histórico</h3>
	{% for tupla in tuplas %}
	<p>{{ tupla.data.strftime('%d/%m/%Y - %H:%M:%S') }} ({{ tupla.ip }})</p>
	{% endfor %}
{% endif %}
	<!--/ Visualização de Registro -->

{% endblock %}