{% extends 'sgc/base.html' %}

{% set page = 'videos' %}

{% block title %}{{ super() }} - Cadastrar Vídeo{% endblock %}

{% block content %}
	<h1 class="my-3">
		<i class="fas fa-video fa-lg"></i>
		Cadastrar Vídeo
	</h1>

	{% if get_flashed_messages() %}
	<div class="text-center mt-3">
		<div class="alert alert-{{ get_flashed_messages()[0] }}" role="alert">{{ get_flashed_messages()[1] }}</div>
	</div>
	{% endif %}

	<!-- Formulário de Inserção -->
	<form action="{{ url_for('sgc.inserir_video') }}" method="post">
		<div class="form-row">
			<div class="col-md-6 form-group">
				<label for="input-titulo">Título</label>
				<input autofocus class="form-control" id="input-titulo" maxlength="128" minlength="6" name="titulo" required type="text" value="{{ video.titulo }}">
			</div>
			<div class="col-md-6 form-group">
				<label for="input-url">URL</label>
				<input class="form-control" id="input-url" maxlength="64" minlength="6" name="url" required type="url" value="{{ video.url }}">
			</div>
		</div>

		<div class="form-row justify-content-center">
			<div class="col-md-6 form-group">
				<div class="embed-responsive embed-responsive-16by9" style="display: none;">
					<iframe class="embed-responsive-item" id="visualizador-de-url" title="Vídeo"></iframe>
				</div>
			</div>
		</div>

		<div class="form-row">
			<div class="col-lg-1 col-md-2 form-group">
				<button class="btn btn-dark btn-block" type="submit">Cadastrar</button>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<button class="btn btn-outline-dark btn-block" type="reset">Limpar</button>
			</div>
		</div>
	</form>
	<!--/ Formulário de Inserção -->

{% endblock %}