{% extends 'sgc/base.html' %}

{% set page = 'inicio' %}

{% block title %}{{ super() }} - Início{% endblock %}

{% block content %}
	<h1 class="my-3">Sistema de Gerenciamento de Conteúdo</h1>

	{% if get_flashed_messages() %}
	<div class="text-center mt-3">
		<div class="alert alert-{{ get_flashed_messages()[0] }}" role="alert">{{ get_flashed_messages()[1] }}</div>
	</div>
	{% endif %}

	<p>O SGC é um gestor de websites, portais e intranets que integra ferramentas necessárias para criar, gerir (editar e inserir) conteúdos em tempo real, sem a necessidade de programação de código, cujo objetivo é estruturar e facilitar a criação, administração, distribuição, publicação e disponibilidade da informação. A sua maior característica é a grande quantidade de funções presentes.</p>
	<br>

	{% if permissao.administrador %}
	<!-- Informações do servidor -->
	<p><strong>Domínio:</strong> {{ tupla.dominio }}</p>
	<p><strong>Flask:</strong> {{ tupla.flask }}</p>
	<p><strong>MySQL:</strong> {{ tupla.mysql }}</p>
	<p><strong>Navegador:</strong> {{ tupla.navegador }}</p>
	<p><strong>Processador:</strong> {{ tupla.processador }}</p>
	<p><strong>Protocolo:</strong> {{ tupla.protocolo }}</p>
	<p><strong>Python:</strong> {{ tupla.python }}</p>
	<p><strong>Servidor:</strong> {{ tupla.servidor }}</p>
	<p><strong>Sistema Operacional:</strong> {{ tupla.so }}</p>
	<p><strong>Software:</strong> {{ tupla.software }}</p>
	<p><strong>Usuário:</strong> {{ tupla.usuario }}</p>
	<p><strong>Versão:</strong> {{ tupla.versao }}</p>
	<p><strong>WSGI:</strong> {{ tupla.wsgi }}</p>
	<!-- Informações do servidor -->
	{% endif %}

{% endblock %}