<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title>Sistema de Gerenciamento de Conteúdo - Login</title>

	<meta charset="utf-8">
	<meta name="author" content="Luiz Joaquim Aderaldo Amichi">
	<meta name="description" content="Gestor de publicação de conteúdo em plataformas digitais">
	<meta name="keywords" content="CMS, SGC, CRUD">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Ícone do cabeçalho do navegador -->
	<link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/ico">

	<!-- Bootstrap CSS -->
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">

	<!-- Folhas de estilo customizada para o template -->
	<link href="{{ url_for('static', filename='css/login-style.css') }}" rel="stylesheet" type="text/css">
</head>

<body class="text-center">
	<form action="{{ url_for('sgc.index') }}" class="form-signin" method="post">
		<img alt="Sistema de Gerenciamento de Conteúdo" class="mb-3" height="100" src="{{ url_for('static', filename='img/sgc.svg') }}" width="100">
		<h3 class="font-weight-normal h3 mb-3">Sistema de Gerenciamento de Conteúdo</h3>
		<input autofocus class="form-control" name="login" placeholder="Login" required type="text">
		<input class="form-control" name="senha" placeholder="Senha" required type="password">
		<button class="btn btn-block btn-lg btn-dark" type="submit">Entrar</button>
		{% if get_flashed_messages() %}
		<div class="text-center mt-3">
			<div class="alert alert-{{ get_flashed_messages()[0] }}" role="alert">{{ get_flashed_messages()[1] }}</div>
		</div>
		{% endif %}
		<a class="copyright" href="https://luizamichi.com.br" target="_blank">
			<img alt="Luiz Joaquim Aderaldo Amichi" class="mt-5" height="50" src="{{ url_for('static', filename='img/luiz_amichi.svg') }}" title="Desenvolvido por Luiz Joaquim Aderaldo Amichi" width="50">
		</a>
	</form>
</body>

</html>