{% extends 'sgc/base.html' %}

{% set page = 'conta' %}

{% block title %}{{ super() }} - Alterar Senha{% endblock %}

{% block content %}
	<h1 class="my-3">
		<i class="fas fa-key fa-lg"></i>
		Alterar Senha
	</h1>

	{% if get_flashed_messages() %}
	<div class="text-center mt-3">
		<div class="alert alert-{{ get_flashed_messages()[0] }}" role="alert">{{ get_flashed_messages()[1] }}</div>
	</div>
	{% endif %}

	<!-- Formulário de Alteração -->
	<form action="{{ url_for('sgc.alterar_senha') }}" method="post">
		<div class="form-row">
			<div class="col-md-6 form-group">
				<label for="input-senha-anterior">Senha Anterior</label>
				<input class="form-control" id="input-senha-anterior" minlength="6" name="senha-anterior" required type="password">
			</div>
			<div class="col-md-6 form-group">
				<label for="input-nova-senha">Nova Senha</label>
				<input class="form-control" id="input-nova-senha" minlength="6" name="nova-senha" required type="password">
			</div>
		</div>

		<div class="form-row">
			<div class="col-lg-1 col-md-2 form-group">
				<button class="btn btn-dark btn-block" type="submit">Alterar</button>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<button class="btn btn-outline-dark btn-block" type="reset">Limpar</button>
			</div>
		</div>
	</form>
	<!--/ Formulário de Alteração -->

{% endblock %}