{% extends 'sgc/base.html' %}

{% set page = 'conta' %}

{% block title %}{{ super() }} - Conta{% endblock %}

{% block content %}
	<h1 class="my-3">
		<i class="fas fa-user-circle fa-lg"></i>
		Conta
	</h1>

	{% if tupla %}
	<!-- Visualização de Registro -->
	<h3>ID</h3>
	<p>{{ tupla.id }}</p>
	<h3>Nome</h3>
	<p>{{ tupla.nome }}</p>
	<h3>E-mail</h3>
	<p>{{ tupla.email }}</p>
	<h3>Login</h3>
	<p>{{ tupla.login }}</p>
	<a class="text-dark" data-placement="left" data-toggle="tooltip" href="{{ url_for('sgc.alterar_senha') }}" title="Alterar senha"><h3>Senha</h3></a>
	<p>{{ tupla.senha }}</p>
	<h3>Permissões</h3>
	<p>{{ tupla.permissao }}</p>
	<h3>Data - Hora</h3>
	<p>{{ tupla.data }}</p>
	<!--/ Visualização de Registro -->
	{% endif %}

{% endblock %}