{% extends 'sgc/base.html' %}

{% set page = 'financas' %}

{% block title %}{{ super() }} - Finanças{% endblock %}

{% block content %}
	<h1 class="my-3">
		<i class="fas fa-dollar-sign fa-lg"></i>
		Finanças
	</h1>

	{% if not tupla %}
	<!-- Formulário de Consulta -->
	<form action="{{ url_for('sgc.financas') }}" method="get">
		<div class="align-items-center form-row">
			<div class="col-lg-3 col-md-6">
				<label class="sr-only" for="input-pesquisa">Pesquisa</label>
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<i class="fas fa-search"></i>
						</div>
					</div>
					<input class="form-control" id="input-pesquisa" name="pesquisa" min="1" required type="number">
					<select class="custom-select mr-sm-2" id="input-tipo" name="tipo">
						<option selected value="id">ID</option>
						<option value="periodo">Período</option>
						<option value="documento">Documento</option>
						<option value="data">Data</option>
					</select>
					<datalist id="periodos">
						<option value="01">Janeiro</option>
						<option value="02">Fevereiro</option>
						<option value="03">Março</option>
						<option value="04">Abril</option>
						<option value="05">Maio</option>
						<option value="06">Junho</option>
						<option value="07">Julho</option>
						<option value="08">Agosto</option>
						<option value="09">Setembro</option>
						<option value="10">Outubro</option>
						<option value="11">Novembro</option>
						<option value="12">Dezembro</option>
						<option value="03.1">1º Trimestre</option>
						<option value="06.1">2º Trimestre</option>
						<option value="09.1">3º Trimestre</option>
						<option value="12.1">4º Trimestre</option>
					</datalist>
				</div>
			</div>
			<div class="col-auto">
				<button class="btn btn-block btn-dark mb-2" type="submit">Procurar</button>
			</div>
			<div class="col-auto">
				<a class="btn btn-block btn-outline-dark mb-2" href="{{ url_for('sgc.inserir_financa') }}">Cadastrar</a>
			</div>
		</div>
	</form>
	<!--/ Formulário de Consulta -->
	{% endif %}

	{% if get_flashed_messages() %}
	<div class="text-center mt-3">
		<div class="alert alert-{{ get_flashed_messages()[0] }}" role="alert">{{ get_flashed_messages()[1] }}</div>
	</div>
	{% endif %}

	{% if tuplas %}
	<!-- Tabela de Registros -->
	<table class="table table-striped">
		<caption></caption>
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Período</th>
				<th scope="col">Data - Hora</th>
				<th scope="col">Ações</th>
			</tr>
		</thead>
		<tbody>
			{% for tupla in tuplas %}
			<tr>
				<th scope="col">{{ tupla.id }}</th>
				<td>{{ tupla.periodo }}</td>
				<td>{{ tupla.data.strftime('%d/%m/%Y - %H:%M:%S') }}</td>
				<td>
					<a class="mx-1 text-dark" href="{{ url_for('sgc.financas', id=tupla.id) }}" title="Visualizar"><i class="far fa-eye fa-lg"></i></a>
					<a class="mx-1 text-dark" href="{{ url_for('sgc.alterar_financa', id=tupla.id) }}" title="Alterar"><i class="fas fa-pencil-alt fa-lg"></i></a>
					<a class="mx-1 text-dark" data-toggle="modal" data-target="#modal" href="#" id="{{ url_for('sgc.remover_financa', id=tupla.id) }}" title="Remover"><i class="fas fa-trash-alt fa-lg"></i></a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<!--/ Tabela de Registros -->
	{% endif %}

	{% if tupla %}
	<!-- Visualização de Registro -->
	<h3>ID</h3>
	<p>{{ tupla.id }}</p>
	<h3>Período</h3>
	<p>{{ tupla.periodo }}</p>
	<h3>Documento</h3>
	<p><a href="{{ url_for('static', filename=tupla.documento.caminho) }}" target="_blank">{{ tupla.documento.arquivo }}</a></p>
	<h3>Usuário</h3>
	<p>{{ tupla.usuario.nome }}</p>
	<h3>Data - Hora</h3>
	<p>{{ tupla.data.strftime('%d/%m/%Y - %H:%M:%S') }}</p>
	<!--/ Visualização de Registro -->

	{% elif paginas %}
		{% include 'sgc/navegador.html' %}
		{% include 'sgc/modal.html' %}
	{% endif %}

{% endblock %}