{% extends 'sgc/base.html' %}

{% set page = 'usuarios' %}

{% block title %}{{ super() }} - Cadastrar Usuário{% endblock %}

{% block content %}
	<h1 class="my-3">
		<i class="fas fa-user fa-lg"></i>
		Cadastrar Usuário
	</h1>

	{% if get_flashed_messages() %}
	<div class="text-center mt-3">
		<div class="alert alert-{{ get_flashed_messages()[0] }}" role="alert">{{ get_flashed_messages()[1] }}</div>
	</div>
	{% endif %}

	<!-- Formulário de Inserção -->
	<form action="{{ url_for('sgc.inserir_usuario') }}" method="post">
		<div class="form-row">
			<div class="col-md-6 form-group">
				<label for="input-nome">Nome</label>
				<input autofocus class="form-control" id="input-nome" maxlength="64" minlength="6" name="nome" required type="text" value="{{ usuario.nome }}">
			</div>
			<div class="col-md-6 form-group">
				<label for="input-email">E-mail</label>
				<input class="form-control" id="input-email" maxlength="64" minlength="6" name="email" required type="email" value="{{ usuario.email }}">
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-6 form-group">
				<label for="input-login">Login</label>
				<input class="form-control" id="input-login" maxlength="64" minlength="6" name="login" required type="text" value="{{ usuario.login }}">
			</div>
			<div class="col-md-6 form-group">
				<label for="input-senha">Senha</label>
				<input class="form-control" id="input-senha" minlength="6" name="senha" required type="password" value="{{ usuario.senha }}">
			</div>
		</div>

		<div class="form-row">
			<div class="col-lg-1 col-md-2 form-group">
				<div class="custom-control custom-checkbox">
					<input class="custom-control-input" id="input-acessos" name="acessos" type="checkbox" {{ 'checked' if usuario.permissao.acessos else '' }}>
					<label class="custom-control-label" for="input-acessos">Acessos</label>
				</div>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<div class="custom-control custom-checkbox">
					<input class="custom-control-input" id="input-banners" name="banners" type="checkbox" {{ 'checked' if usuario.permissao.banners else '' }}>
					<label class="custom-control-label" for="input-banners">Banners</label>
				</div>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<div class="custom-control custom-checkbox">
					<input class="custom-control-input" id="input-boletins" name="boletins" type="checkbox" {{ 'checked' if usuario.permissao.boletins else '' }}>
					<label class="custom-control-label" for="input-boletins">Boletins</label>
				</div>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<div class="custom-control custom-checkbox">
					<input class="custom-control-input" id="input-convencoes" name="convencoes" type="checkbox" {{ 'checked' if usuario.permissao.convencoes else '' }}>
					<label class="custom-control-label" for="input-convencoes">Convenções</label>
				</div>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<div class="custom-control custom-checkbox">
					<input class="custom-control-input" id="input-convenios" name="convenios" type="checkbox" {{ 'checked' if usuario.permissao.convenios else '' }}>
					<label class="custom-control-label" for="input-convenios">Convênios</label>
				</div>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<div class="custom-control custom-checkbox">
					<input class="custom-control-input" id="input-diretoria" name="diretoria" type="checkbox" {{ 'checked' if usuario.permissao.diretoria else '' }}>
					<label class="custom-control-label" for="input-diretoria">Diretoria</label>
				</div>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<div class="custom-control custom-checkbox">
					<input class="custom-control-input" id="input-editais" name="editais" type="checkbox" {{ 'checked' if usuario.permissao.editais else '' }}>
					<label class="custom-control-label" for="input-editais">Editais</label>
				</div>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<div class="custom-control custom-checkbox">
					<input class="custom-control-input" id="input-estatuto" name="estatuto" type="checkbox" {{ 'checked' if usuario.permissao.estatuto else '' }}>
					<label class="custom-control-label" for="input-estatuto">Estatuto</label>
				</div>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<div class="custom-control custom-checkbox">
					<input class="custom-control-input" id="input-eventos" name="eventos" type="checkbox" {{ 'checked' if usuario.permissao.eventos else '' }}>
					<label class="custom-control-label" for="input-eventos">Eventos</label>
				</div>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<div class="custom-control custom-checkbox">
					<input class="custom-control-input" id="input-financas" name="financas" type="checkbox" {{ 'checked' if usuario.permissao.financas else '' }}>
					<label class="custom-control-label" for="input-financas">Finanças</label>
				</div>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<div class="custom-control custom-checkbox">
					<input class="custom-control-input" id="input-historico" name="historico" type="checkbox" {{ 'checked' if usuario.permissao.historico else '' }}>
					<label class="custom-control-label" for="input-historico">Histórico</label>
				</div>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<div class="custom-control custom-checkbox">
					<input class="custom-control-input" id="input-jornais" name="jornais" type="checkbox" {{ 'checked' if usuario.permissao.jornais else '' }}>
					<label class="custom-control-label" for="input-jornais">Jornais</label>
				</div>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<div class="custom-control custom-checkbox">
					<input class="custom-control-input" id="input-juridicos" name="juridicos" type="checkbox" {{ 'checked' if usuario.permissao.juridicos else '' }}>
					<label class="custom-control-label" for="input-juridicos">Jurídicos</label>
				</div>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<div class="custom-control custom-checkbox">
					<input class="custom-control-input" id="input-noticias" name="noticias" type="checkbox" {{ 'checked' if usuario.permissao.noticias else '' }}>
					<label class="custom-control-label" for="input-noticias">Notícias</label>
				</div>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<div class="custom-control custom-checkbox">
					<input class="custom-control-input" id="input-registros" name="registros" type="checkbox" {{ 'checked' if usuario.permissao.registros else '' }}>
					<label class="custom-control-label" for="input-registros">Registros</label>
				</div>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<div class="custom-control custom-checkbox">
					<input class="custom-control-input" id="input-usuarios" name="usuarios" type="checkbox" {{ 'checked' if usuario.permissao.usuarios else '' }}>
					<label class="custom-control-label" for="input-usuarios">Usuários</label>
				</div>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<div class="custom-control custom-checkbox">
					<input class="custom-control-input" id="input-videos" name="videos" type="checkbox" {{ 'checked' if usuario.permissao.videos else '' }}>
					<label class="custom-control-label" for="input-videos">Vídeos</label>
				</div>
			</div>
		</div>

		<div class="form-row">
			<div class="col-lg-1 col-md-2 form-group">
				<button class="btn btn-dark btn-block" type="submit">Cadastrar</button>
			</div>
			<div class="col-lg-1 col-md-2 form-group">
				<button class="btn btn-outline-dark btn-block" type="reset">Limpar</button>
			</div>
		</div>
	</form>
	<!--/ Formulário de Inserção -->

{% endblock %}