/*******
* HTML *
*******/
html {
	position: relative;
	min-height: 100%;
}

a::selection, h1::selection, h3::selection, h5::selection, img::selection, li::selection, p::selection, small::selection, span::selection, strong::selection, td::selection, th::selection, time::selection {
	background-color: #0a6e3f;
	color: #fff;
}

.bg-green {
	background-color: #0a6e3f;
}

.text-green {
	color: #0a6e3f;
}

div #midias-sociais {
	margin-top: 10px;
}

#midias-sociais a {
	margin: 10px;
}

#midias-sociais a .fa-facebook-square {
	color: #0f49bf;
}

#midias-sociais a .fa-twitter-square {
	color: #1da1f2;
}

#midias-sociais a .fa-whatsapp-square {
	color: #25d366;
}

#midias-sociais i:hover {
	color: #304050;
}

/************
* CABEÇALHO *
************/
header {
	background-color: #0a6e3f;
	position: sticky;
	top: 0;
	z-index: 1;
}

header a.dropdown-item:focus {
	background-color: #0a6e3f;
}

header div.dropdown-menu a.active {
	background-color: #0a6e3f !important;
}

.logo {
	filter: invert(1);
}

.social-part .fab {
	margin: 0 10px;
}

ul li a.nav-link {
	margin: 0 10px;
}

ul li a:hover {
	background-color: rgba(255, 255, 255, 0.05);
}

.social-part .fa-facebook-square:hover {
	color: #0f49bf;
	text-shadow: 1px 1px 1px #aaa;
}

.social-part .fa-youtube:hover {
	color: #ff0000;
	text-shadow: 1px 1px 1px #333;
}

.social-part .fa-whatsapp:hover {
	color: #25d366;
	text-shadow: 1px 1px 1px #333;
}

/***********
* CONTEÚDO *
***********/
#page-content {
	margin-bottom: 350px;
}

div .subcabecalho {
	background-color: #0a6e3f;
	border-radius: 10px;
	color: #fff;
	margin: 15px auto 15px auto;
	padding: 5px 0;
	text-align: center;
	text-transform: uppercase;
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
}

#index div.card, #boletins div.card, #editais div.card, #eventos div.card, #jornais div.card, #noticias div.card, #videos div.card {
	cursor: pointer;
}

#index div.card:hover h5, #boletins div.card:hover h5, #editais div.card:hover h5, #eventos div.card:hover h5, #jornais div.card:hover h5, #noticias div.card:hover h5, #videos div.card:hover h5 {
	text-decoration: underline;
}

#index p.card-text, #eventos p.card-text, #noticias p.card-text {
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

/* BANNERS */
#banners img {
	object-fit: contain;
	object-position: center;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 300px;
}

/* BOLETINS */
div #boletins {
	margin: 30px auto;
}

#boletins img {
	object-fit: cover;
	object-position: top;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 175px;
}

/* CONVENÇÕES */
div #convencoes {
	margin: 30px auto;
}

#convencoes a {
	color: #000;
}

#convencoes h3 {
	text-align: center;
	text-transform: uppercase;
}

/* CONVÊNIOS */
div #convenios {
	margin: 30px auto;
}

#convenios a {
	color: #000;
}

#convenios i:hover {
	color: #525b64;
}

/* DIRETORIA */
#diretoria img.outdoor {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 300px;
}

/* EDITAIS */
div #editais {
	margin: 30px auto;
}

#editais img.card-img-top {
	object-fit: cover;
	object-position: top;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 350px;
}

#editais img.outdoor {
	object-fit: contain;
	object-position: center;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 500px;
}

/* ESTATUTO */
div #estatuto {
	margin: 30px auto;
}

#estatuto a i {
	color: #000;
	font-size: 75px;
}

#estatuto a i:hover {
	color: #0a6e3f;
}

/* EVENTOS */
div #eventos {
	margin: 30px auto;
}

#eventos img.card-img-top {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 300px;
}

#eventos img.quadro {
	margin: 3px;
	width: 265px;
}

/* FINANÇAS */
div #financas {
	margin: 30px auto;
}

#financas a {
	color: #000;
}

#financas hr {
	margin: 10px 5px;
}

#financas ul {
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
	list-style-type: none;
	text-align: left;
}

/* HISTÓRICO */
div #historico {
	margin: 30px auto;
}

#historico p {
	text-indent: 50px;
}

/* INDEX */
div #index {
	margin: 30px auto;
}

#index img {
	object-fit: cover;
	object-position: top;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 150px;
}

/* JORNAIS */
div #jornais {
	margin: 30px auto;
}

#jornais img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 150px;
}

/* JURÍDICOS */
div #juridicos {
	margin: 30px auto;
}

#juridicos a {
	color: #000;
}

/* NAVEGADOR */
li.page-item .active {
	background-color: #0a6e3f !important;
}

li.text-green span {
	color: #0a6e3f;
	font-weight: bold;
}

/* NOTÍCIAS */
div #noticias {
	margin: 30px auto;
}

#noticias img.card-img-top {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 200px;
}

#noticias img.outdoor {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 300px;
}

/* VÍDEOS */
div #videos {
	margin: 30px auto;
}

/*********
* RODAPÉ *
*********/
footer h5, footer a:hover {
	color: #fff;
}

footer p, footer li, footer a {
	color: rgba(255, 255, 255, .5);
}

footer hr {
	border: 1px solid rgba(255, 255, 255, .5);
}

footer ol {
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
	list-style-type: none;
	padding: 3px 0;
	text-align: left;
}

footer {
	background-color: #0a6e3f;
	bottom: 0;
	padding: 15px 0;
	position: absolute;
	width: 100%;
}

.copyright img {
	filter: invert(0.4) brightness(2) contrast(1);
}

.copyright img:hover {
	filter: invert(0.3) brightness(3);
}

/*****************
* RESPONSIVIDADE *
*****************/
@media screen and (max-width: 1200px) {
	#page-content {
		margin-bottom: 380px;
	}
}

@media screen and (max-width: 991px) {
	#page-content {
		margin-bottom: 556px;
	}
}

@media screen and (max-width: 800px) {
	#financas ul {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
	}
}

@media screen and (max-width: 767px) {
	#page-content {
		margin-bottom: 605px;
	}
}

@media screen and (max-width: 575px) {
	#page-content {
		margin-bottom: 703px;
	}
}

@media screen and (max-width: 555px) {
	#page-content {
		margin-bottom: 728px;
	}
}

@media screen and (max-width: 555px) {
	#financas ul {
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
		display: contents;
	}
}

@media screen and (max-width: 431px) {
	#page-content {
		margin-bottom: 752px;
	}
}